# Mastering Concatenation!

Two county organizations that you are a part of, Financial Leaders of America and Investors Leadership Council, have recently joined forces. Help the treasurer out by consolidating the dues and member data.

In [18]:
import pandas as pd
from pathlib import Path

### Read in data

In [19]:
fin_leaders_america_path = Path('fin_leaders_america.csv')
investors_leadership_path = Path('invstrs_leadership.csv')
fin_leaders_mem_path = Path('fin_leaders_members.csv')
investors_leadership_mem_path = Path('invstrs_leadership_members.csv')

fin_leaders_america_data = pd.read_csv(fin_leaders_america_path, index_col='MemberName')
investors_leadership_data = pd.read_csv(investors_leadership_path, index_col='MemberName')
fin_leaders_mem_data = pd.read_csv(fin_leaders_mem_path, index_col='MemberName')
investors_leadership_mem_data = pd.read_csv(investors_leadership_mem_path, index_col='MemberName')
# fin_leaders_america_data.head()
# investors_leadership_data.head()
# fin_leaders_mem_data.head()
# investors_leadership_mem_data.head()

### Concat dues data using `rows` axis and `inner` join

In [20]:
joined_dues_data = pd.concat([fin_leaders_america_data, investors_leadership_data], axis="rows", join="inner")
joined_dues_data

                   DuesOwed  DuesPaid
MemberName
Warren Buffet             0      2500
Janet Yellen            100      2400
Abigail Johnson           0      2500
Larry Fink             2500         0
Warren Buffet             0      2500
Janet Yellen            100      2400
Abigail Johnson           0      2500
Larry Fink             2500         0
Mario Draghi           2500         0
Michael Bloomberg      2500         0
Ray Dalio                 0      2500

### Concat member data using `rows` axis and `inner` join

In [21]:
joined_mem_data = pd.concat([fin_leaders_mem_data, investors_leadership_mem_data], axis="rows", join="inner")
joined_mem_data

                  MembershipStatus
MemberName
Warren Buffet        Good Standing
Janet Yellen         Good Standing
Abigail Johnson      Good Standing
Larry Fink              Delinquent
Warren Buffet        Good Standing
Janet Yellen         Good Standing
Abigail Johnson      Good Standing
Larry Fink              Delinquent
Mario Draghi            Delinquent
Michael Bloomberg       Delinquent
Ray Dalio            Good Standing

### Concat dues and member data using `columns` axis and `inner` join

In [23]:
joined_data_columns = pd.concat([investors_leadership_data, investors_leadership_mem_data], axis='columns', join='inner')
joined_data_columns

                   DuesOwed  DuesPaid MembershipStatus
MemberName
Warren Buffet             0      2500    Good Standing
Janet Yellen            100      2400    Good Standing
Abigail Johnson           0      2500    Good Standing
Larry Fink             2500         0       Delinquent
Mario Draghi           2500         0       Delinquent
Michael Bloomberg      2500         0       Delinquent
Ray Dalio                 0      2500    Good Standing